@font-face {
    font-family: "KaushanScript-Regular";
    src: url("../fonts/KaushanScript-Regular.otf");
}
@font-face 
{
    font-family: "Montserrat-Black";
    src: url(../fonts/Montserrat-Black.otf);
}
@font-face 
{
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.otf);
}

@font-face 
{
    font-family: "Montserrat-ExtraBold";
    src: url(../fonts/Montserrat-ExtraBold.otf);
}

@font-face 
{
    font-family: "Montserrat-Hairline";
    src: url(../fonts/Montserrat-Hairline.otf);
}

@font-face 
{
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.otf);
}

@font-face 
{
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face 
{
    font-family: "Montserrat-UltraLight";
    src: url(../fonts/Montserrat-UltraLight.otf);
}

@font-face 
{
    font-family: "Roboto-Black";
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face 
{
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face 
{
    font-family: "Roboto-LightItalic";
    src: url(../fonts/Roboto-LightItalic.ttf);
}

.conteiner
{
    width: 100%;
}

body
{
    margin: 0;
}

.main_conteiner
{
    background-size: cover;
    min-width: 1200px;
}

.header
{
    padding-bottom: 124px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 11px;
    clear: both;
}

.site_title
{ 
    float: left;
    font-family: Montserrat-Bold, sans-serif;
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
} 

.menu
{
    float: right;
    color: #fff;
    font-family: Montserrat-UltraLight, sans-serif;
    padding-bottom: 8px;
    border:solid 0;
    font-size: 14px;
}

a
{
    color:#fff;
    font-weight:bold;
    text-decoration: none;
    margin-right: 0;
}

.menu a.contact_for_menu
{
    margin-right: 50px;
}

.menu a.contact_for_menu:link
{
    margin-right: 50px;
}

.menu a.contact_for_menu:hover
{
    margin-right: 50px;
}

.menu a:link
{
    color:#fff;
    font-family: Montserrat-UltraLight, sans-serif;
    text-decoration: none;
    border:solid 0px;
    text-align: center;
    padding-bottom: 8px;
    margin-right: 53px;
}

.menu a:hover
{
    color:#FFFF00;
    text-decoration: none;
    border-width:0 0 3px 0;
    border-style:solid;
    text-align: center;
    padding-bottom: 8px;
    margin-right: 53px;
    font-family: Montserrat-UltraLight, sans-serif;
}

.menu a.basket_for_menu
{
    border: none;
    text-align: center;
    margin-right: 34px;
    padding-bottom: 0;
}

.menu a.magnifier_for_menu
{
    border: none;
    text-align: center;
    margin-right: 0px;
    padding-bottom: 0;
}

.branding
{
    clear: both;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 64px;
}

.first_conteiner
{
    background-image: url(../images/fond.jpg);
    background-repeat: no-repeat;
	width: 100%;
    background-position: center;
	margin: 0 auto;
} 

.over_brand
{
    text-align: center; 
    font-size: 72px; 
    font-family: KaushanScript-Regular, sans-serif;
    color: #fff;
    margin-bottom: 17px;
}

.brand
{
    text-align: center; 
    font-size: 150px; 
    font-family: Montserrat-Bold, sans-serif;
    color: #fff;
    width: 810px;
    margin: 0 auto;
    line-height: 140px;
    padding-left: 8px;
}

.line hr
{
    text-align: center;
    background-color: #fff;
    width: 60px;
    height: 3px;
    border: none;
    margin-bottom: 0;
}

.line
{
    margin-bottom: 50px;
}

.more_info
{
    font-size: 14px;
    border: 3px solid;
    width: 156px;
    text-align: center;
    margin: 0 auto;
    font-family: Montserrat-Bold, sans-serif;
    margin-bottom: 157px;
    color: #fff;
}

.more_info a:hover
{
    color: #f38181;
}

.class_more_info
{
    margin: 9px;
}

.slider
{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 9px;
}

.second_conteiner
{
    margin: 0 auto;
    background-size: cover;
}

.block_in_slider
{
    display: inline-block;
    font-size: 17px;
    width: 275px;
    text-align: left;
    margin: auto;
    margin-right: 22px;
    font-family: Montserrat-Regular, sans-serif;
}

.white_line
{
    position: relative;
    width: 100%;
    height: 3px;
    background: #fff;
    display: block;
}

.item_menu
{
    display: block;
}

.item_menu:hover .red_line
{
    display: block;
}

.red_line 
{
    width: 70px;
    height: 3px;
    border-style:solid;
    border-width:3px 0 0 0;
    position: absolute;
    color: #f38181;
    display: none;
    left: 0;
    top: 0;
}

.font_of_number
{
    font-size: 24px;
    font-family: Montserrat-Bold, sans-serif;
}

.second_conteiner .page_title
{
    padding-top: 60px;
}

.page_title
{
    width: 1200px;
    margin: 0 auto;
    padding-top: 83px;
    padding-bottom: 41px;
}

.over_big_title
{
    font-size: 24px; 
    text-align: center; 
    font-family: KaushanScript-Regular, sans-serif;
    color: #333333;
    margin: 0px;
    margin-top: 24px;
    font-weight: 100;
}

.big_title
{
    color: #333333;
    text-align: center;
    font-size: 30px;
    font-family: Montserrat-Bold, sans-serif;
    padding-bottom: 6px;
    margin-top: 8px;
    margin-bottom: 29px;
}

hr
{
    background-color: #f38181;
    height: 3px;
    width: 60px;
    border: none;
    margin: 0 auto;
}

.text_about_content
{
    color: #b6b6b6;
    text-align: center;
    padding-bottom: 98px;
    font-size: 15px;
    font-family: Roboto-Regular, sans-serif;
    width: 1000px;
    margin: 0 auto;
    line-height: 1.6;
}

.picture_about_story
{
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 106px;
}

.image_headphones
{
    width: 380px;
    height: 250px;
    background: url("../images/headphones.jpg") no-repeat;
    position: relative;
    display: inline-block;
    margin-right: 25px;
}

.hover_image_headphones,
.gradient_hover
{
    width: 380px;
    height: 250px;
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.gradient_hover
{
    padding: 90px 0 0;
    text-align: center;
    box-sizing: border-box;
    background: -webkit- linear-gradient(left, rgba(231, 128, 129, 0.9), rgba(235,211,131,0.9));
    background: -o- linear-gradient(right, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
    background: -moz- linear-gradient(right, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
    background: -ms- linear-gradient(right, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
    background: linear-gradient(to right, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
}

.hover_image_headphones
{
    background: url("../images/headphones.jpg") no-repeat;
}

.image_headphones:hover .hover_image_headphones,
.image_headphones:hover .gradient_hover
{
    display: block;
}

.image_headphones:hover
{
    background: #95e1d3;
}

.gradient_hover .small_icon_users
{
    display: block;
    width: 50px;
    height: 45px;
    margin: 0 auto;
    background: url("../images/people.png");
}

.gradient_hover .text
{
    font: 18px/22px Verdana, sans-serif;
    color: #fff;
}

.image_mac
{
    width: 380px;
    height: 250px;
    background: url("../images/iMac.jpg") no-repeat;
    position: relative;
    display: inline-block;
    margin-right: 26px;
}

.hover_image_mac,
.gradient_hover
{
    width: 380px;
    height: 250px;
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
}

.hover_image_mac
{
    background: url("../images/iMac.jpg") no-repeat;
}

.image_mac:hover .hover_image_mac,
.image_mac:hover .gradient_hover
{
    display: block;
}

.image_mac:hover
{
    background: #95e1d3;
}

.image_flower
{
    width: 380px;
    height: 250px;
    background: url("../images/flower.jpg") no-repeat;
    position: relative;
    display: inline-block;
}

.hover_image_flower,
.gradient_hover
{
    width: 380px;
    height: 250px;
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
}

.hover_image_flower
{
    background: url("../images/flower.jpg") no-repeat;
}

.image_flower:hover .hover_image_flower,
.image_flower:hover .gradient_hover
{
    display: block;
}

.image_flower:hover
{
    background: #95e1d3;
}

.text_super_team
{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1;
}

.statistics_unit
{
    background-color: #95e1d3;
    height: 270px;
}

.statistics
{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
}

.text_for_statistics
{
    display: inline-block;
    font-size: 14px;
    border: solid 1px #b5eae0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    margin: 0 auto;
    width: 234px;
    text-align: center;
    height: 271px;
    font-family: Montserrat-Light, sans-serif;
    padding-left: 1px;
}

.text_for_statistics_first_number
{
    border: solid 1px #b5eae0;
    border-bottom: 0;
    border-top: 0;
    width: 237px;
}

.text_for_statistics_fifth_number
{
    border: solid 1px #b5eae0;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    width: 233px;
}

.number_for_statistics
{
    font-size: 71px;
    font-family: Montserrat-Bold, sans-serif;
    margin-bottom: 0px;
    margin-top: 68px;
}

.text_in_statistics
{
    margin-top: 13px;
    margin-right: 4px;
    font-family: Montserrat-Regular, sans-serif;
}

.third_conteiner
{
    margin-bottom: 82px;
	margin: 0 auto;
}

.third_conteiner .page_title
{
    padding-top: 80px;
}

.third_conteiner .big_title
{
    margin-top: 8px;
    margin-bottom: 31px;
}

.first_line_of_services
{
    width: 1200px;
    margin: 0 auto;
    border: solid #e5e5e5;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 26px;
    padding-bottom: 8px;
}

.second_line_of_services
{
    width: 1200px;
    margin: 0 auto;
}

.block_with_picture_in_services
{
    width: 370px;
    display: inline-block;
    margin: 10px;
    margin-bottom: 30px;
    margin-right: 16px;
}

.service
{
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    width: 1200px;
    margin: 0 auto;
    padding-top: 0;
}

.text_in_services
{
    float: right;
    width: 290px;
}

.title_in_services
{
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    font-weight: 900;
    margin-top: 11px;
    margin-bottom: 12px;
}

.text_in_blok_in_services
{
    font-family: Roboto-Regular, sans-serif;
    color: #999999;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 3px;
    margin-top: 10px;
}

.fourth_conteiner
{
    background-image: url(../images/second_fond.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.fourth_conteiner .page_title
{
    padding-top: 79px;
    padding-bottom: 25px;
}

.fourth_conteiner .big_title
{
    margin-bottom: 30px;
}

.mac_in_fourth
{
    position: relative;
    width: 477px;
    height: 580px;
    margin: 0 auto;
    right: 27px;
    top: 22px;
}

.iphone
{
    position: absolute;
    left: 325px;
    width: 460px;
    height: 600px;
    top: 127px;
}

.fifth_conteiner
{
    margin: 0 auto;
    padding-top: 20px;
    height: 800px;
    margin-bottom: 100px;
}

.fifth_conteiner .text_about_content
{
    padding-bottom: 90px;
}

.fifth_conteiner .big_title
{
    margin-bottom: 30px;
}

.text_about_service
{
    width: 1200px;
    margin: 0 auto;
    margin-bottom:100px;
    clear: both;
}

.photo_in_fifth
{
    float: left;
}

.thrust
{
    float: right;
    width: 599px;
}

label
{
    background: url("../images/down.png") no-repeat;
    background-position: right;
    line-height: 30px;
}

.hide {
    display: none; 
}
.hide + label ~ .dropdown{
    display: none;
}

.hide + label {
    width: 599px;
    border: solid #e5e5e5 1px;
    margin: 0px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 10px;
    padding-left: 0;
    font-size: 13px;
    font-family: Montserrat-UltraLight, sans-serif;
    cursor: pointer;
    display: inline-block; 
}

/* вид текста label при активном переключателе */
.hide:checked + label {
    color: black;
    background: url("../images/top.png") no-repeat;
    background-position: right;
}

.hide:checked + label + .dropdown {
    display: block; 
    font-size: 14px;
    font-style: italic;
    line-height: 1.8;
    border: solid #e5e5e5 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 542px;
    height: 150px;
    padding: 15px;
    padding-left: 18px;
    padding-bottom: 5px;
    padding-right: 49px;
    color: #afafaf;
    font-family: Roboto-LightItalic, sans-serif;

}

.demo {
    margin-bottom: 12px;
}

.picture_in_block_service
{
    padding-right: 14px;
    float: left;
    padding-left: 12px;
}

.dropdown
{
    position: relative;
    font-size: 14px;
    font-style: italic;
    line-height: 1.8;
    border: solid #e5e5e5 1px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 11px;
    margin-bottom: 0px;
    width: 531px;
    height: 150px;
    padding: 15px;
    padding-left: 18px;
    padding-bottom: 5px;
    padding-right: 49px;
    color: #afafaf;
    font-family: Roboto-LightItalic, sans-serif;
}

.fifth_conteiner_quote
{
    clear: both;
    background-repeat: no-repeat;
    width: 100%; 
    background-size: cover;
    background: #f8f8f8;
    height: 290px;
}

.quote
{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}

.arrow
{
    display: inline-block;
    margin-top: 20px;
}

.without_arrow
{
    width: 1070px;
    height: 200px;
    margin: 0 auto;
    display: inline-block;
}

.picture_in_quote
{
    display: inline-block;
    margin: 18px;
    float: left;
    margin-right: 53px;
    margin-left: 35px;
}

.text_in_quote
{
    padding: 30px;
    font-size: 23px;
    font-family: Roboto-LightItalic, sans-serif;
    color: #999999;
    line-height: 1.6;
}

.signature_in_quote hr
{
    width: 60px;
    text-align: left;
    display: inline-block;
    color: #f38181;
    margin-bottom: 5px;
}

.signature_in_quote
{
    font-style: normal;
    font-family: KaushanScript-Regular, sans-serif;
    color: black;
    padding-top: 3px;
    font-size: 25px;
    line-height: 2;
}

.six_conteiner
{
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 13px;
}

.six_conteiner .page_title
{
    padding-top: 60px;
}

.six_conteiner .big_title
{
    margin-bottom: 30px;
}

.six_conteiner .text_about_content
{
    padding-bottom: 89px;
}

.photo_of_our_team
{
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 10px;
}

.first_photo_team
{
    width: 386px;
    height: 476px;
    background: url("../images/man's from team/man-blue-jeans.png") no-repeat;
    position: relative;
    display: inline-block;
    margin-right: 17px;
}


.hover_image_first_man,
.gradient_hover_photo
{
    width: 386px;
    height: 476px;
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
}

.gradient_hover_photo
{
    padding: 208px 0 0;
    text-align: center;
    box-sizing: border-box;
    background: -webkit- linear-gradient(left, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -o- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -moz- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -ms- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: linear-gradient(to right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
}

.hover_image_first_man
{
    background: url("../images/man's from team/man-blue-jeans.png") no-repeat;
}

.first_photo_team:hover .hover_image_first_man,
.first_photo_team:hover .gradient_hover_photo
{
    display: block;
}

.first_photo_team:hover
{
    background: #f9bd87;
}

.gradient_hover_photo .link
{
    display: block;
    width: 220px;
    height: 54px;
    margin: 0 auto;
}

.link_facebook
{
    width: 54px;
    height: 54px;
    display: inline-block;
    border: solid 1px #f9bd87;
    border-bottom: none;
    border-top: none;
    border-left: none;
    margin: 0;
    margin-left: -4px;
    background: url("../images/links/facebook.png") no-repeat;

}

a.link_facebook:hover
{
    background: url("../images/links/facebook_white.png") no-repeat;
    border: solid 1px #f38181;
    border-bottom: none;
    border-top: none;
}

.link_twitter
{
    width: 54px;
    height: 54px;
    display: inline-block;
    border: solid 1px #f9bd87;
    border-bottom: none;
    border-top: none;
    border-left: none;
    margin: 0;
    background: url("../images/links/twitter.png") no-repeat;
    margin-left: -4px;
}

a.link_twitter:hover
{
    background:url("../images/links/twitter-white.png") no-repeat;
}

.link_pinterest
{
    width: 54px;
    height: 54px;
    display: inline-block;
    border: solid 1px #f9bd87;
    border-bottom: none;
    border-top: none;
    border-left: none;
    margin: 0;
    background: url("../images/links/pinterest.png") no-repeat;
    margin-left: -4px;
}

a.link_pinterest:hover
{
    background: url("../images/links/pinterest-white.png") no-repeat;
}

.link_instagram
{
    width: 54px;
    height: 54px;
    display: inline-block;
    border: solid 1px #f9bd87;
    border-bottom: none;
    border-top: none;
    border-left: none;
    margin: 0;
    background: url("../images/links/instagram.png") no-repeat;
    margin-left: -4px;
}

a.link_instagram:hover
{
    background: url("../images/links/instagram-white.png") no-repeat;
    border: solid 1px #f38181;
    border-bottom: none;
    border-top: none;
    border-left: none;
}

.gradient_hover_photo .text
{
    font: 18px/22px Verdana, sans-serif;
    color: #fff;
}

.second_photo_team
{
    width: 386px;
    height: 476px;
    background: url("../images/man's from team/blue-skirt.png") no-repeat;
    position: relative;
    display: inline-block;
    margin-right: 17px;
}

.hover_image_second_man,
.gradient_hover_photo
{
    width: 386px;
    height: 476px;
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
}

.hover_image_second_man
{
    background: url("../images/man's from team/blue-skirt.png") no-repeat;
}

.second_photo_team:hover .hover_image_second_man,
.second_photo_team:hover .gradient_hover_photo
{
    display: block;
}

.second_photo_team:hover
{
    background: #95e1d3;
}

.third_photo_team
{
    width: 386px;
    height: 476px;
    background: url("../images/man's from team/red-skirt.png") no-repeat;
    position: relative;
    display: inline-block;
}

.hover_image_third_man,
.gradient_hover_photo
{
    width: 386px;
    height: 476px;
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
}

.hover_image_third_man
{
    background: url("../images/man's from team/red-skirt.png") no-repeat;
}

.third_photo_team:hover .hover_image_third_man,
.third_photo_team:hover .gradient_hover_photo
{
    display: block;
}

.third_photo_team:hover
{
    background: #95e1d3;
}

.block_photo_of_our_team
{
    display: inline-block;
}

.name
{
    text-align: center;
    left: -10px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    margin: 17px;
    margin-bottom: 11px;
    padding-right: 18px;
}

.six_block_position
{
    font-family: Roboto-LightItalic;
    text-align: center;
    font-size: 14px;
    padding-right: 16px;
}

.fond_logo
{
    background-color: #f8f8f8;
    height: 250px;
    margin-top: 120px;
}

.logos
{
    background: url("../images/small_logo.png") no-repeat;
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    padding-top: 10px;
}

.seventh_conteiner_works
{
    width: 1920px;
	height: 780px;
	left: 50%;
	margin-left: -960px;
	position: absolute;
}

.seventh_conteiner .page_title
{
    padding-top: 78px;
}

.seventh_conteiner .big_title
{
    padding-bottom: 8px;
}

.first_column
{
    display: inline-block;
    width: 480px;
    float: left; 
    height: 780px;
}
/*man_in_sea*/
.first_photo_man_in_sea
{
    width: 480px;
    height: 390px;
    background: url("../images/works/man-in-sea.jpg") no-repeat;
    position: relative;
}


.hover_image_man_in_sea,
.gradient_hover_photo_works
{
    width: 480px;
    height: 390px;
    display: none;
    position: absolute;
}

.gradient_hover_photo_works
{
    padding: 170px 0 0;
    text-align: center;
    box-sizing: border-box;
    background: -webkit- linear-gradient(left, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -o- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -moz- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -ms- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: linear-gradient(to right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
}

.hover_image_man_in_sea
{
    background: url("../images/works/man-in-sea.jpg") no-repeat;
}

.first_photo_man_in_sea:hover .hover_image_man_in_sea,
.first_photo_man_in_sea:hover .gradient_hover_photo_works
{
    display: block;
}

/*bridge*/
.second_photo_bridge
{
    width: 480px;
    height: 390px;
    background: url("../images/works/bridge.jpg") no-repeat;
    position: relative;
}

.hover_image_bridge,
.gradient_hover_photo_works
{
    width: 480px;
    height: 390px;
    display: none;
    position: absolute;
}

.gradient_hover_photo_works
{
    text-align: center;
    box-sizing: border-box;
    background: -webkit- linear-gradient(left, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -o- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -moz- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -ms- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: linear-gradient(to right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
}

.hover_image_bridge
{
    background: url("../images/works/bridge.jpg") no-repeat;
}

.second_photo_bridge:hover .hover_image_bridge,
.second_photo_bridge:hover .gradient_hover_photo_works
{
    display: block;
}

.gradient_hover_photo_works .small_icon_photography
{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url("../images/pic-for-works.png");
}

.gradient_hover_photo_works .title_for_works
{
    font: 18px/22px Montserrat-Regular, sans-serif;
    color: #fff;
}

.gradient_hover_photo_works .text_in_title_for_works
{
    font: 16px/20px Roboto-LightItalic, sans-serif;
    color: #fff;
}

.second_column
{
    display: inline-block;
    width: 480px;
    float: left; 
    height: 780px;
}

/*roof*/
.third_photo_roof
{
    width: 480px;
    height: 390px;
    background: url("../images/works/roof.jpg") no-repeat;
    position: relative;
    display: inline-block;
}


.hover_image_roof,
.gradient_hover_photo_works
{
    width: 480px;
    height: 390px;
    display: none;
    position: absolute;
}

.gradient_hover_photo_works
{
    padding: 150px 0 0;
    text-align: center;
    box-sizing: border-box;
    background: -webkit- linear-gradient(left, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -o- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -moz- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -ms- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: linear-gradient(to right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
}

.hover_image_roof
{
    background: url("../images/works/roof.jpg") no-repeat;
}

.third_photo_roof:hover .hover_image_roof,
.third_photo_roof:hover .gradient_hover_photo_works
{
    display: block;
}

/*house*/
.fourth_photo_house
{
    width: 480px;
    height: 390px;
    background: url("../images/works/house.jpg") no-repeat;
    position: relative;
    display: inline-block;
	bottom: 4px;
}

.hover_image_house,
.gradient_hover_photo_works
{
    width: 480px;
    height: 390px;
    display: none;
    position: absolute;
}

.gradient_hover_photo_works
{
    text-align: center;
    box-sizing: border-box;
    background: -webkit- linear-gradient(left, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -o- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -moz- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -ms- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: linear-gradient(to right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
}

.hover_image_house
{
    background: url("../images/works/house.jpg") no-repeat;
}

.fourth_photo_house:hover .hover_image_house,
.fourth_photo_house:hover .gradient_hover_photo_works
{
    display: block;
}

.third_column
{
    display: inline-block;
    width: 480px;
    float: left; 
    height: 780px;
}

/*jellyfish*/
.fifth_photo_jellyfish
{
    width: 480px;
    height: 780px;
    background: url("../images/works/jellyfish.jpg") no-repeat;
    position: relative;
}

.fifth_photo_jellyfish .gradient_hover_photo_works
{
    width: 480px;
    height: 780px;
    display: none;
    position: absolute;
}

.hover_image_jellyfish,
.gradient_hover_photo_works
{
    width: 480px;
    height: 780px;
    display: none;
    position: absolute;
}

.fifth_photo_jellyfish  .gradient_hover_photo_works
{
    padding: 330px 0 0;
	text-align: center;
    box-sizing: border-box;
    background: -webkit- linear-gradient(left, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -o- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -moz- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -ms- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: linear-gradient(to right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
}

.hover_image_jellyfish
{
    background: url("../images/works/jellyfish.jpg") no-repeat;
}

.fifth_photo_jellyfish:hover .hover_image_jellyfish,
.fifth_photo_jellyfish:hover .gradient_hover_photo_works
{
    display: block;
}

.fourth_column
{
    display: inline-block;
    width: 480px;
    float: left; 
    height: 780px;
}

/*glassing_roof*/
.sixth_photo_glassing_roof
{
    width: 480px;
    height: 390px;
    background: url("../images/works/glassing_roof.jpg") no-repeat;
    position: relative;
}


.hover_image_glassing_roof,
.gradient_hover_photo_works
{
    width: 480px;
    height: 390px;
    display: none;
    position: absolute;
}

.gradient_hover_photo_works
{
    text-align: center;
    box-sizing: border-box;
    background: -webkit- linear-gradient(left, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -o- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -moz- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -ms- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: linear-gradient(to right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
}

.hover_image_glassing_roof
{
    background: url("../images/works/glassing_roof.jpg") no-repeat;
}

.sixth_photo_glassing_roof:hover .hover_image_glassing_roof,
.sixth_photo_glassing_roof:hover .gradient_hover_photo_works
{
    display: block;
}

/*triangular_house*/
.seventh_photo_triangular_house
{
    width: 480px;
    height: 390px;
    background: url("../images/works/triangular-house.jpg") no-repeat;
    position: relative;
}

.hover_image_triangular_house,
.gradient_hover_photo_works
{
    width: 480px;
    height: 390px;
    display: none;
    position: absolute;
}

.gradient_hover_photo_works
{
    text-align: center;
    box-sizing: border-box;
    background: -webkit- linear-gradient(left, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -o- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -moz- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: -ms- linear-gradient(right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
    background: linear-gradient(to right, rgba(235,211,131,0.9), rgba(231,128,129,0.9));
}

.hover_image_triangular_house
{
    background: url("../images/works/triangular-house.jpg") no-repeat;
}

.seventh_photo_triangular_house:hover .hover_image_triangular_house,
.seventh_photo_triangular_house:hover .gradient_hover_photo_works
{
    display: block;
}